[submodule "lab-frontend"]
	path = lab-frontend
	url = https://github.com/nguyenquangtiep/lab-frontend.git
[submodule "lab-backend"]
	path = lab-backend
	url = https://github.com/nguyenquangtiep/lab-backend.git
